$cellSize: 50px;
$lightTexture: url("/images/light-tree-texture.jpg");
$darkTexture: url("/images/dark-tree-texture.jpeg");

$white: "w";
$black: "b";

$bishop: "bishop.svg";
$king: "king.svg";
$knight: "knight.svg";
$pawn: "pawn.svg";
$queen: "queen.svg";
$rook: "rook.svg";

$figures: (
  "bishop": "bishop.svg",
  "king": "king.svg",
  "knight": "knight.svg",
  "pawn": "pawn.svg",
  "rook": "rook.svg",
);

@function getFigureUrl($figure, $color) {
  @return url("/svg/" + $color + "-" + $figure);
}

@mixin figureStyle {
  background-size: cover;
}

@each $name, $svg in $figures {
  .w-#{$name} {
    background: getFigureUrl($svg, $white);
    @include figureStyle;
  }
  .b-#{$name} {
    background: getFigureUrl($svg, $black);
    @include figureStyle;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 3rem;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  height: 1000px;
  width: 2000px;
}

div.board {
  height: $cellSize * 9;
  width: $cellSize * 9;
  border: solid black;
  background-image: $darkTexture;
}

div.area {
  width: $cellSize * 8;
  height: $cellSize * 8;
  float: left;
  border: solid black;
}

div.top,
div.bottom {
  margin-left: 20px;
  position: sticky;
  z-index: 100;
}

div.top {
  height: 23px;
  top: 0;
}

div.bottom {
  width: 430px;
  height: 22px;
  bottom: 0;
  clear: both;
}

div.top > div,
div.bottom > div {
  width: 50px;
  height: 23px;
  font-size: 1rem;
  text-align: center;
  float: left;
}

div.top > div,
div.right > div {
  transform: rotate(180deg);
}

div.left,
div.right {
  padding-bottom: 5px;
  font-size: 1rem;
  height: 380px;
  width: 22px;
  float: left;
  position: sticky;
  z-index: 100;
}

div.left {
  left: 0px;
  padding-top: 20px;
}

div.right {
  right: 0px;
  margin-top: -13px;
}

div.left > div,
div.right > div {
  height: 50px;
  text-align: center;
}

div.row {
  height: $cellSize;
  width: $cellSize * 8;
}

div.row > div {
  width: $cellSize;
  height: $cellSize;
  float: left;
}

div.row:nth-child(odd) > div:nth-child(odd),
div.row:nth-child(even) > div:nth-child(even) {
  background-color: white;
  opacity: 0.3;
}

div.row:nth-child(odd) > div:nth-child(even),
div.row:nth-child(even) > div:nth-child(odd) {
  background-color: black;
  opacity: 0.7;
}